.fighter-preview___root {
  display: flex;
  height: 250px;
  position: relative;
}

.fighter-preview___right {
  align-items: flex-end;
  flex-direction: row;
}

.fighter-preview___left {
  align-items: flex-end;
  flex-direction: row-reverse;
}

.flip-horizontal {
  transform: scale(-1, 1);
}

.fighterInfo {
  border: 1px white solid;
  width: 130px;
  text-align: center;
  color: #8b00ff;
  background: #808080;
  height: 80%;
  margin: auto 20px;
  padding: 7px;
}

.fighterStats {
  color: #fff;
  font-size: 1.2em;
}
